ul {
  list-style-type: none;
}

body button {
  border-radius: 40px;
  padding: 10px 40px;
  border: 3px solid #6266e4;
}

.header {
  padding-bottom: 40px;
  background-color: #244384;
}

.header--green {
  background-color: #2b9965;
}

.header__container {
  display: flex;
  flex-flow: row;
  justify-content: space-between;

  position: relative;
}

.header ul li {
  display: inline-block;
  margin-right: 30px;
}

.header p {
  margin-bottom: 0;
}

.header__nav img {
  max-height: 15px;
  margin-right: 8px;
}

.header__nav ul,
.header__nav li,
.header__nav a,
.header__nav__item {
  height: 100%;
  text-decoration: none;
  color: white;
  font-weight: 600;
}

.header__nav__item {
  display: flex;
  flex-flow: row;
  align-items: center;
}

.header__nav--mobile {
  display: none;
  cursor: pointer;
}

.header__nav--mobile img {
  height: 25px;
}

.hero__flex-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.hero {
  color: white;
  position: relative;
  background: rgb(36, 67, 132);
  background: -moz-linear-gradient(
    180deg,
    rgba(36, 67, 132, 1) 0%,
    rgba(4, 37, 106, 1) 100%
  );
  background: -webkit-linear-gradient(
    180deg,
    rgba(36, 67, 132, 1) 0%,
    rgba(4, 37, 106, 1) 100%
  );
  background: linear-gradient(
    180deg,
    rgba(36, 67, 132, 1) 0%,
    rgba(4, 37, 106, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#244384",endColorstr="#04256a",GradientType=1);
}

.hero--green {
  background: rgb(43, 153, 101);
  background: -moz-linear-gradient(
    180deg,
    rgba(43, 153, 101, 1) 0%,
    rgba(4, 106, 53, 1) 100%
  );
  background: -webkit-linear-gradient(
    180deg,
    rgba(43, 153, 101, 1) 0%,
    rgba(4, 106, 53, 1) 100%
  );
  background: linear-gradient(
    180deg,
    rgba(43, 153, 101, 1) 0%,
    rgba(4, 106, 53, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#2b9965",endColorstr="#046a35",GradientType=1);
}

.hero__container {
  z-index: 1;
  position: relative;
}

.hero__wave {
  position: relative;
  margin-top: -200px;
  overflow: hidden;
}

.hero__wave img {
  width: 101vw;
}

.hero__text-block {
  display: inline-block;
}

.hero__p1 {
  font-weight: 600;
}

.hero__p2 {
  font-weight: 300;
  color: rgba(255, 255, 255, 0.5);
}

.hero__h1,
.hero__p1,
.hero__p2 {
  padding-bottom: 20px;
  display: inline-block;
}

.hero__form {
  display: inline-block;
  max-width: 300px;
  background-color: white;
  border-top: 3px solid #6ce0e1;
  border-radius: 0 0 2px 2px;
  padding: 25px;
  box-shadow: -10px 20px 30px rgba(0, 0, 0, 0.2);
}

.hero__form p {
  color: #0f1b35;
  font-weight: 600;
  text-align: center;
}

.hero__form input {
  margin-bottom: 15px;
  padding: 8px;
  font-weight: 600;
  color: #757575;
  border: 1px solid #cecece;
}

.hero__form__flex-container {
  display: flex;
  flex-flow: column;
  align-content: center;
}

.hero__form__names {
  display: flex;
  justify-content: space-between;
}

.hero__form__names input {
  width: 48%;
}

.schedule-demo-btn {
  background-color: #6266e4;
  color: white;
  font-weight: 600;
  margin-bottom: 15px;
}

.hero__form__contact {
  background-color: white;
  color: #6266e4;
}

.cta {
  margin-top: -1px;
  background-color: white;
  position: relative;
}

.cta {
  color: #072869;
  text-align: center;
}

.cta__p1 {
  font-weight: 600;
  margin-bottom: 30px;
}

.cta img {
  max-height: 40px;
  margin-bottom: 20px;
}

.cta__values {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.cta__value {
  max-width: 30%;
}

.cta__value__title {
  font-weight: 600;
}

@media (max-width: 1500px) {
  .hero__wave {
    margin-top: -100px;
  }
}

@media (max-width: 991px) {
  .header__logo {
    display: flex;
    align-items: center;
  }

  .header__logo img {
    max-width: 150px;
  }
}

@media (max-width: 767px) {
  .header p {
    font-size: 0.8em;
  }

  .header ul li {
    margin-right: 15px;
  }

  .header ul li:last-child {
    margin-right: 0;
  }

  .hero p,
  .hero h1 {
    text-align: center;
    display: block;
    padding-bottom: 5px;
    margin-bottom: 0;
  }

  .hero__flex-container {
    flex-flow: column;
    align-items: center;
  }
}

@media (max-width: 550px) {
  .header ul {
    padding: 10px;
    margin: 0;
  }

  .header ul li {
    height: auto;
    display: block;
    margin: 0 0 10px;
  }

  .header p {
    color: #072869;
  }

  .header__nav {
    display: none;
    background-color: white;
    position: absolute;
    right: 0;
    top: 100%;
    z-index: 2;
  }

  .header__nav--mobile {
    padding: 5px 2px 0;
    display: inline-block;
  }

  .cta {
    padding-top: 80px;
  }

  .cta img {
    margin-bottom: 0;
  }

  .cta__values {
    flex-flow: column;
    padding-top: 50px;
  }

  .cta__value {
    max-width: 100%;
    margin-bottom: 40px;
  }
}
